/* Everything after this is the navigation bar */
.topNav{
    background-color: #413018;
    overflow: hidden;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: auto;
}

.topNav-right{
    float: right;
}

.topNav a{
    
    color: #f2f2f2;
    text-align:right;
    padding: 12px 15px;
    line-height: 35px;
    text-decoration: none;
    font-size: 23px;
    position: relative;
    text-shadow: #2f3517 1px 1px 10px;

}

.topNav a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: center;
    transition: transform 0.25s ease-out;
}


.topNav a:hover::after {
    text-shadow: rgb(0, 0, 0) 1px 1px 4px;
    color: #f2f2f2; 
    transition: all 0.3s ease;
    transform: scaleX(1);
    transform-origin: center;
    
  }


.topNav a.active {
    color: #f2f2f2;
  }

.topNav a.active::after {
    color: #f2f2f2;
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: center;
    
}

.topNav b {
    color: #f2f2f2;
    text-align: center;
    padding: 12px 15px;
    line-height: 35px;
    text-decoration: none;
    font-size: 30px;
    text-shadow: #3f4c0c 1px 1px 10px;

}



/* CSS for mobile devices */
@media only screen and (max-width: 768px) {
    .topNav a{
    
        color: #f2f2f2;
        text-align:right;
        padding: 8px 10px;
        line-height: 35px;
        text-decoration: none;
        font-size: 18px;
        border-radius: 50px;
        overflow: hidden;
    
    }

    .topNav b {
        color: #f2f2f2;
        text-align: center;
        padding: 8px 10px;
        line-height: 35px;
        text-decoration: none;
        font-size: 22px;
    
    }

    
}